name: Build & Deploy

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions: write-all

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Folia
        uses: actions/checkout@v4
        with:
          repository: PaperMC/Folia
          ref: dev/1.21.4
          path: Folia
      - name: Checkout the Publish Repo
        uses: actions/checkout@v4
        with:
          ref: gh-pages
          path: repo
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Setup Git user
        uses: qoomon/actions--setup-git@v1
      - name: Publish
        run: |
          cd ./Folia
          ./gradlew applyPatches
          ./gradlew -PpublishDevBundle -Dmaven.repo.local=$GITHUB_WORKSPACE/repo publishToMavenLocal
      - name: Push the gh-pages Repo
        run: |
          cd ./repo
          git add .
          git commit -m "Update Repo"
          git push origin gh-pages
